#store-hours {	
	float: right;
	margin-top: 5px;
	
	font-family: 'shortcut';
	text-align: center;
	text-transform: uppercase;
}

#store-hours-status {
	font-size: 52px;
	line-height: 52px;
}

#store-hours-shipping {
	font-size: 18px;
	line-height: 18px;
	color: #744926; /*#DA804B;*/
	width: 200px;
    margin: auto;
}

.store-hours-open { color: #26AA30; }
.store-hours-warn { color: #FF6600; }
.store-hours-closed { color: #6D0010; }
