.faq dl {

}

.faq dd {
    display: none;
    margin: 0px 0px 10px 10px;
}

.faq dt {
    cursor: pointer;
    position: relative;
    margin: 0px;

	font-size: 18px;

    font-family: 'oswald-bold';
    color: #1C85C2;
}
