#hours {	
	float: right;
	margin-top: 5px;
	
	font-family: 'shortcut';
	text-align: center;
	text-transform: uppercase;
}

#hours_status {
	font-size: 52px;
	line-height: 52px;
}

#hours_shipping {
	font-size: 18px;
	line-height: 18px;
	color: #744926; /*#DA804B;*/
}

.open { color: #26AA30; }
.warn { color: #FF6600; }
.closed { color: #6D0010; }
