/* ---------- FONTS ---------- */
@font-face {
    font-family: "Oswald";
    src: url("//atvpc.com/themes/atvpc-bootstrap/fonts/oswald-latin-600.woff2") format("woff2"),
         url("//atvpc.com/themes/atvpc-bootstrap/fonts/oswald-latin-600.woff") format("woff");
}

@font-face {
    font-family: "Shortcut";
    src: url("//atvpc.com/themes/atvpc-bootstrap/fonts/shortcut.woff2") format("woff2"),
         url("//atvpc.com/themes/atvpc-bootstrap/fonts/shortcut.woff") format("woff");
}


/* ---------- PAGE ---------- */

body {
    background: #000000 url("../img/bg.jpg") no-repeat top center;
    margin-top: 1em;
    color: #FFF;
}

@media screen and (max-width: 992px) {
    body {
    background-image: none;
    }
}

main {
    background-color: #000;
    font-size: 1.2em;
    padding: 1em 1em 2em 1em;
    min-height: 60vh;
}

h1, h2, h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    line-height: 1.5em;
}

h1 {
    color: #1C85C2;
}

h2, h3 {
    color: #E2E2E2;
    text-shadow: 2px 2px #444;
}

hr {
    border-top: 1px dotted #444;
    height: 0;
    margin: 2em 1em;
}

main a, main a:hover, main a:visited {
    color: #1C85C2;
}

/* ---------- IMG GALLERY ---------- */

.img-container {
    position: relative;
    display: inline-block;
    margin: 1em;
    transition: all 0.3s ease-out;
}

.img-rounded {
    border-radius: .5em;
}

.img-rounded:hover {
    border-radius: 0;
}

.img-thumb {
    max-height: 20em;
    max-width: 25vw;
}

.img-container:hover {
    transform: scale(2);
	z-index:10;
}

.caption {
    position: absolute;
    bottom: .5em;
    right: .5em;

    font-family: 'Oswald';
    color: #E2E2E2;
    text-transform: uppercase;
    text-shadow: 2px 2px #444;
}

/* ---------- LISTS ---------- */

main ul {
    list-style: none;
    padding-left: 0;
}

main ul li {
    padding-left: 2em;
    text-indent: -1em;
}

main ul li:before {
    content: "»";
    padding-right: 5px;
    color: #1C85C2;
}

main ol { counter-reset: item; }
main ol li { 
    display: block; 

    padding-left: 2em;
    text-indent: -1.5em;
}
main ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #1C85C2;
    
    padding-right: 5px;
}


/* ---------- TABLE ---------- */
thead {
    font-family: 'Oswald';
    text-transform: uppercase;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #222;
}

.table tbody tr td { /* reset bootstrap */
    border-top: 0;
}

/* ---------- NAVBAR ---------- */

.navbar {

    border-radius: 0; /* override bootstrap styling */
    margin: 1em 1em 0 1em;

    background: #1E6997; /* rgb(30, 105, 151) - for old browsers */
    background: linear-gradient(to bottom, rgba(30, 105, 151, 1) 0%,     /* #1E6997 */
                                           rgba(50, 162, 228, .9) 100%); /* #32A2E4 */

    border: 1px solid #1C85C2; /* rgb(28,133,194) */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-link {
    color: inherit;
}

/* ---------- ACTION SHOTS CAROUSEL ---------- */

#action-shots-carousel {
    position: relative;
    width: 700px;
    height: 400px;
}

#action-shots-carousel::before {
    position: absolute;
    z-index: 100;
    content: "";
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../img/grunge-frame.png");
}


/* ---------- SLIDE DOWN CAROUSEL ---------- */

    .slide-down .carousel-item-next.carousel-item-left,
    .slide-down .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
     }
     .slide-down .carousel-item-next,
     .slide-down .active.carousel-item-right {
       -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
     }
     .slide-down .carousel-item-prev,
     .slide-down .active.carousel-item-left {
     -webkit-transform: translate3d(0, +100%, 0);
            transform: translate3d(0, +100, 0);
     }

/* ---------- BOXES ---------- */

.box h1 {
    margin-bottom: 0;

    text-align: center;

    background: #000 url("../img/bg-box.jpg") top left repeat-x;

    border: 2px solid #1C85C2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0;

}

.box-body {
    color: #FFF;

    padding: 5px 20px;
    border: 2px solid #1C85C2;
    border-image: linear-gradient(to bottom, #1C85C2, black) 1 100%;
}

/* ---------- PRODUCT / VENDOR CAROUSEL ---------- */
#vendor-carousel img,
#product-carousel img {
    display: inline-block;
}

/* ---------- HEADER ---------- */

.info {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: #E2E2E2;
    text-shadow: 2px 2px #444;
}

.tagline {
    font-size: 2em;
    line-height: 1em;
}

.phone {
    font-size: 2.5em;
    line-height: 1.5em;
    color: #1C85C2;
}

/* ---------- STORE HOURS---------- */

#store-hours {
    font-family: 'Shortcut';
    text-transform: uppercase;
}

#store-hours-status {
	font-size: 4em;
	line-height: 1em;
    text-shadow: 2px 2px #444;
}

#store-hours-shipping {
	font-size: 1.25em;
	line-height: 1.25em;
    width: 10em;
    margin: auto;
	color: #744926; /* color: #a55200; */
}

.store-hours-open { color: #26AA30; /* color: #008b45; */ }
.store-hours-warn { color: #FF6600; /* color: #d96c00; */ }
.store-hours-closed { color: #6D0010; /* color: #8b0000; */ }

/* ---------- FOOTER ---------- */

.footer {
    border-top: 2px solid #1E6997;
    margin-top: 4em;
}


.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer li {
    padding-left: 1em;
}

.footer li:before {
    content: '»';
    color: #1C85C2;
}

/* ---------- TESIMONIALS ---------- */

.testimonial-quote {
    font-size: 1.2em;
    line-height: 1em;
    font-style: italic;
}

.testimonial-quote::before {
    content: '\201C\2006';
    font-weight: bold;
    color: #444;
}

.testimonial-quote::after {
    content: '\2006\201D';
    font-weight: bold;
    color: #444;
}

.testimonial-author::before {
    content: '\2015\00A0';
    color: #444;
}

.testimonial-author {
    margin-top: 1em;
}

/* ---------- FOOTER BAR ---------- */

.footer-bar {
    margin-top: 1em;

    height: 3em;
    line-height: 3em;

    background: #1E6997; /* rgb(30, 105, 151) - for old browsers */
    background: linear-gradient(to bottom, rgba(30, 105, 151, 1) 0%,     /* #1E6997 */
                                           rgba(50, 162, 228, .9) 100%); /* #32A2E4 */

    border: 1px solid #1C85C2; /* rgb(28,133,194) */
    border-radius: 1em;

    color: #000;
}

.footer-bar a {
    color: inherit;
}

/* ---------- SOCIAL ---------- */

.social {
    list-style-type: none;
}

.social li {
    display: inline;
}

/* ---------- FINEPRINT ---------- */
.fineprint {
    font-size: .8em;
    padding: 0 5em;
    color: #444;
}

.fineprint a, .fineprint a:hover, .fineprint a:visited {
    color: #1C85C2;
}

/* ---------- DRAWER ---------- */

.drawer {
    border-right: 2px solid #1E6997;
    color: #FFF;
}

.drawer-heading { border-bottom: 0; }

.drawer-contents {
    background: #000 url("../img/bg-box.jpg") top left repeat-x;
}

.drawer-footer {
    color: #444;
}

.drawer-nav li.active a {
    color: #FFF;
    background-color: #1E6997;
}

.drawer-nav li a {
     color: #1C85C2;
}

/* ---------- MISC ---------- */

.awareness {
    margin: 1em 0;
}

.awareness img {
    width: 12em;
    opacity: .33;
    filter: grayscale(1);
    transition: opacity .25s ease-in-out;
}

.awareness img:hover {
    opacity: 1;
    filter: none;
}
